a.doityourself {
    color:#d3d3d3;
    font-size:30px;
    border-color:#006400;
    border-style:double;
}
a.extern {
    color:#fff;
}
#lmao {
    background:#fff;
    width:30%;
    height:40%;
    margin-left:35%;
}
