{% extends "layout.nj" %}
{% set page = "pictures" %}

{% block content %}
<h1>Crunchy-images</h1>
<div>
    <a class="example-image-link" href="images/wiesla-rc_01.jpg" data-lightbox="example-1" data-title="Wiesla Rock Club 2014"><img class="example-image" src="images/wiesla-rc_01_th.jpg" alt="image-1" />
    </a>
    <a class="example-image-link" href="images/band_sw.png" data-lightbox="example-1" data-title="Crunchy Bullfrog"><img class="example-image" src="images/band_sw_th.png" alt="image-1" />
    </a>
    <br><hr noshade color="darkgreen">
    <h3>Band</h3>
    <table width="60%" align="center">
        <tr>
            <td align="center"><a class="example-image-link" href="images/kai.jpg" data-lightbox="example-1" data-title="joehanson"><img class="example-image" src="images/kai_th.jpg" alt="image-1" />
                </a></td>
                <td align="center"><a class="example-image-link" href="images/volker.png" data-lightbox="example-1" data-title="volkA"><img class="example-image" src="images/volker_th.png" alt="image-1" />
                    </a></td>
                    <td align="center"><a class="example-image-link" href="images/stefi.jpg" data-lightbox="example-1" data-title="stefi"><img class="example-image" src="images/stefi_th.jpg" alt="image-1" />
                        </a></td>
                        <td align="center"><a class="example-image-link" href="images/ali.jpg" data-lightbox="example-1" data-title="ali"><img class="example-image" src="images/ali_th.jpg" alt="image-1" />
                            </a></td>
        </tr>
        <tr>
            <td align="center"><font color="white">JoeHanson</font></td>
            <td align="center"><font color="white">volkA</font></td>
            <td align="center"><font color="white">Stefi</font></td>
            <td align="center"><font color="white">Ali</font></td>
        </tr>
    </table>

    <br><hr noshade color="darkgreen">

    <h3>Weisse Rose</h3>

    <a class="example-image-link" href="images/weisserose_01.jpg" data-lightbox="example-1" data-title="Weisse Rose 2014"><img class="example-image" src="images/weisserose_01_th.jpg" alt="image-1" />
    </a>
    <a class="example-image-link" href="images/weisserose_02.png" data-lightbox="example-1" data-title="Weisse Rose 2014"><img class="example-image" src="images/weisserose_02_th.png" alt="image-1" />
    </a>
    <a class="example-image-link" href="images/weisserose_03.png" data-lightbox="example-1" data-title="Weisse Rose 2014"><img class="example-image" src="images/weisserose_03_th.png" alt="image-1" />
    </a>
    <a class="example-image-link" href="images/weisserose_04.png" data-lightbox="example-1" data-title="Weisse Rose 2014"><img class="example-image" src="images/weisserose_04_th.png" alt="image-1" />
    </a>
    <a class="example-image-link" href="images/weisserose_05.png" data-lightbox="example-1" data-title="Weisse Rose 2014"><img class="example-image" src="images/weisserose_05_th.png" alt="image-1" />
    </a>
    <a class="example-image-link" href="images/weisserose_06.png" data-lightbox="example-1" data-title="Weisse Rose 2014"><img class="example-image" src="images/weisserose_06_th.png" alt="image-1" />
    </a>
    <a class="example-image-link" href="images/weisserose_07.png" data-lightbox="example-1" data-title="Weisse Rose 2014"><img class="example-image" src="images/weisserose_07_th.png" alt="image-1" />
    </a>

    <br><br><br>

    <!--
        This part of the website was created under the aid of Lightbox2. Lightbox2 is licensed under the MIT License (http://lokeshdhakar.com/projects/lightbox2/):

        The MIT License (MIT):

        Copyright (c) 2015 Lokesh Dhakar (http://lokeshdhakar.com/projects/lightbox2/)

        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    -->

</div>
{% endblock %}
