<!DOCTYPE html>
{% extends "layout.nj" %}
{% set page = "videos" %}

{% block content %}
<h3>Music Videos</h3>
Sebrenica<br>
<iframe width="460" height="325" src="https://www.youtube.com/embed/p67M4KDF_0w" border="0" style="margin-bottom: 1%">
</iframe><br>

<br><br>
Dostum<br>
<iframe width="460" height="325" src="https://www.youtube.com/embed/SdhodDbSVPM" border="0" style="margin-bottom: 1%">
</iframe><br>
<br><br>
London Bridge<br>
<iframe width="460" height="325" src="https://www.youtube.com/embed/BdFhBOSAVAY" border="0" style="margin-bottom: 1%">
</iframe><br>
<br><br>
{% endblock %}
